*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Home Page */
.hero{
  color: tomato;
}
.heroMain{
  height: 50vh;
  width: 100%;
  background-color: rgb(193, 255, 255);
}
.navMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(45, 255, 255);
  z-index: 10;
}
.navLeft{
  width: 50%;
}
.navRight{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.searchMain{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -25px;
}
.searchInput{
  width: 80%;
  height: 60px;
  border-color: white;
  border: 0.5px solid;
  padding: 10px;
  box-shadow: 10px 5px 4px #888888;
 
}


.searchMain2{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 25px;
}
.searchInput2{
  width: 80%;
  height: 60px;
  border-color: white;
  border: 0.5px solid;
  padding: 10px;
  box-shadow: 10px 5px 4px #888888;
 
}


.topCatMain{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.topCatButtons{
    padding: 15px;
    border-radius: 5px;
    border: none;
}
.topCatButtons:hover{
  cursor: pointer;
}


.mostVisitedMain{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mostVisitedText{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;

}
.mostVisitedSection{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.mostVisitedTiles{
  min-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.mostVisitedTiles :hover{
  cursor: pointer;
}

.mostVisitedTilesImages{
  border-radius: 5px;
  width: 50%;
}
.mostVisitedTilesBtm{
  display: flex;
  justify-content: space-around;
  width: 70%;
}
/* footer */
.footerMain{
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100%;
  background-color: cadetblue;
  margin-top: 30px;
  align-items: center;

}


/* Destination Page */

.sliderMain{
  height: 35vh;
  background-color: aqua;
  min-height: 15vh;
  margin-top: 15px;
  margin-left: 80px;
  margin-right: 80px;
}
.destDetail{
  width: 100%;
  margin-top: 20px;
}
.destDetailsMain{
display: flex;
justify-content: space-between;
margin-left: 75px;
margin-right: 75px;
}
.destDetailsLeft{
  width: 50%;
  max-height: 25%;
}
.horiLine{
  
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
  color: gray;
  border-width: 1;
}

.destReviewsSection{
  margin-left: 80px;
  margin-right:80px ;
  margin-top: 30px;
}
.destReviewsMain{
margin-top: 30px;
}
.destReviewsContainer{
display: flex;
height:140px ;
border: solid 0.5px rgb(156, 156, 156) ;
border-radius: 5px;
margin-top: 15px;

}
.destReviewsContainerImageContainer{
  width: 15%;
  min-width: 15%;
  background-color: skyblue;
  padding: 5px;
  display: inline-block;
  min-width: 100px;
  min-height: 100px;
  
}

.destReviewsContainerReview{
  width: 70%;
  padding: 15px;
 
}
.destReviewsContainerRating{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.hotelDetailsBooked{
  border: solid 2px rgb(0, 151, 13);
  margin-top: 30px;
  border-radius: 5px;
}
.hotelDetailsBookedMain{
  padding: 10px;
}
.hotelMediaButtons{
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}
.loginMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

/* Users  Profile Page*/

.ProfileTabsSection{
  margin: 50px;
  justify-content: center;
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: 50vh;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #3C6254;
}



button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.tabsContentUserDetails{
  margin-top: 15px;
  display: flex;
}
.tabsContentUserDetailsImage{
  min-width: 12%;
  height: 100px;
  background-color: #222;
}
.tabsContentUserMainDetails{
  margin-left: 20px;
}
.tabsContentUserMainDetailsInformation{
  margin-top: 10px;
  
}
.tabsContentUserMainDetailsInformation-flex{
  display: flex;
}
.tabsContentUserMainDetailsInformation-button{
  margin-left: 10px;
  color: blue;
  cursor: pointer;
}

.tabsContentBookingsSection{
  padding: 5px;
  border: #222 1px solid;
  border-radius: 5px;
  margin-top: 10px;
}
.tabsContentBookingsMain{
  display: flex; 
  height: 15vh;
}
.tabsContentBookingsMain-Image{
  width: 12%;
  background-color: #222;
}
.tabsContentBookingsMain-Details{
  margin-left: 20px;
  width: 75%;
}
